.waCover{
  width:100%;
  height:100vh;
  background: rgb(0,160,250);
  background: linear-gradient(180deg, rgba(0,160,250,0.3) 0%, rgba(255,0,0,0.3) 100%);
  display:flex;
  align-items:center;
  justify-content: center;
  margin:0px;
  padding:0px;
  
}

